In [1]:
import itertools
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.ticker import NullFormatter
import pandas as pd
import numpy as np
import matplotlib.ticker as ticker
from sklearn import preprocessing
%matplotlib inline

In [2]:
df = pd.read_csv('training.csv')
df_test = pd.read_csv('testing.csv')
df.head()

,class,max_ndvi,20150720_N,20150602_N,20150517_N,20150501_N,20150415_N,20150330_N,20150314_N,20150226_N,...,20140610_N,20140525_N,20140509_N,20140423_N,20140407_N,20140322_N,20140218_N,20140202_N,20140117_N,20140101_N
0,water,997.904,637.5950,658.668,-1882.030,-1924.36,997.904,-1739.990,630.087,-1628.240,...,-921.193,-1043.160,-1942.490,267.138,366.608,452.238,211.328,-2203.02,-1180.190,433.906
1,water,914.198,634.2400,593.705,-1625.790,-1672.32,914.198,-692.386,707.626,-1670.590,...,-954.719,-933.934,-625.385,120.059,364.858,476.972,220.878,-2250.00,-1360.560,524.075
2,water,3800.810,1671.3400,1206.880,449.735,1071.21,546.371,1077.840,214.564,849.599,...,1562.210,1566.160,2208.440,1056.600,385.203,300.560,293.730,2762.57,150.931,3800.810
3,water,952.178,58.0174,-1599.160,210.714,-1052.63,578.807,-1564.630,-858.390,729.790,...,-1025.880,368.622,-1786.950,-1227.800,304.621,291.336,369.214,-2202.12,600.359,-1343.550
4,water,1232.120,72.5180,-1220.880,380.436,-1256.93,515.805,-1413.180,-802.942,683.254,...,-1813.950,155.624,-1189.710,-924.073,432.150,282.833,298.320,-2197.36,626.379,-826.727

In [3]:
df_test.head()

,class,max_ndvi,20150720_N,20150602_N,20150517_N,20150501_N,20150415_N,20150330_N,20150314_N,20150226_N,...,20140610_N,20140525_N,20140509_N,20140423_N,20140407_N,20140322_N,20140218_N,20140202_N,20140117_N,20140101_N
0,water,2750.11,1361.89,-247.508,-521.17300,-1123.910,2653.08,-264.4140,-456.4660,2080.85,...,2380.00,1078.400,1778.030,2673.610,-178.9710,2238.580,1000.760,-81.5418,1146.260,-1566.490
1,water,2646.25,1760.85,481.100,6.26571,398.950,2646.25,550.9820,92.6923,2188.03,...,2009.69,1083.700,2029.520,1033.900,-19.6148,2183.660,927.882,668.7500,1519.740,-568.973
2,water,3509.62,3509.62,-241.320,-1239.32000,-330.388,1257.19,-175.1710,-294.5000,-1315.06,...,1838.51,1538.750,846.783,965.654,-468.0240,-222.312,1124.250,1132.9000,594.059,-993.658
3,water,2820.47,2138.69,-126.186,-522.28100,-741.163,2334.70,-207.4360,-76.9686,2820.47,...,2098.55,984.456,2239.330,593.874,1540.8800,2398.420,846.470,572.3080,1311.610,-1396.500
4,water,2684.13,1995.80,-1029.570,1713.62000,-472.258,2526.99,-91.7429,-146.2260,2487.71,...,2684.13,1432.150,2174.890,1321.690,1351.5800,2381.950,870.890,1174.3300,991.427,-185.322

In [4]:
df['class'].value_counts()

forest        7431
farm          1441
impervious     969
grass          446
water          205
orchard         53
Name: class, dtype: int64

In [5]:
X_train = df[['max_ndvi', '20150720_N', '20150602_N', '20150517_N',
       '20150501_N', '20150415_N', '20150330_N', '20150314_N', '20150226_N',
       '20150210_N', '20150125_N', '20150109_N', '20141117_N', '20141101_N',
       '20141016_N', '20140930_N', '20140813_N', '20140626_N', '20140610_N',
       '20140525_N', '20140509_N', '20140423_N', '20140407_N', '20140322_N',
       '20140218_N', '20140202_N', '20140117_N', '20140101_N']] .values  #.astype(float)
X_train[0:5]

array([[  997.904 ,   637.595 ,   658.668 , -1882.03  , -1924.36  ,
          997.904 , -1739.99  ,   630.087 , -1628.24  , -1325.64  ,
         -944.084 ,   277.107 ,  -206.799 ,   536.441 ,   749.348 ,
         -482.993 ,   492.001 ,   655.77  ,  -921.193 , -1043.16  ,
        -1942.49  ,   267.138 ,   366.608 ,   452.238 ,   211.328 ,
        -2203.02  , -1180.19  ,   433.906 ],
       [  914.198 ,   634.24  ,   593.705 , -1625.79  , -1672.32  ,
          914.198 ,  -692.386 ,   707.626 , -1670.59  , -1408.64  ,
         -989.285 ,   214.2   ,   -75.5979,   893.439 ,   401.281 ,
         -389.933 ,   394.053 ,   666.603 ,  -954.719 ,  -933.934 ,
         -625.385 ,   120.059 ,   364.858 ,   476.972 ,   220.878 ,
        -2250.    , -1360.56  ,   524.075 ],
       [ 3800.81  ,  1671.34  ,  1206.88  ,   449.735 ,  1071.21  ,
          546.371 ,  1077.84  ,   214.564 ,   849.599 ,  1283.63  ,
         1304.91  ,   542.1   ,   922.619 ,   889.774 ,   836.292 ,
         1824.16  ,  1670.27  ,  2307.22  ,  1562.21  ,  1566.16  ,
         2208.44  ,  1056.6   ,   385.203 ,   300.56  ,   293.73  ,
         2762.57  ,   150.931 ,  3800.81  ],
       [  952.178 ,    58.0174, -1599.16  ,   210.714 , -1052.63  ,
          578.807 , -1564.63  ,  -858.39  ,   729.79  , -3162.14  ,
        -1521.68  ,   433.396 ,   228.153 ,   555.359 ,   530.936 ,
          952.178 , -1074.76  ,   545.761 , -1025.88  ,   368.622 ,
        -1786.95  , -1227.8   ,   304.621 ,   291.336 ,   369.214 ,
        -2202.12  ,   600.359 , -1343.55  ],
       [ 1232.12  ,    72.518 , -1220.88  ,   380.436 , -1256.93  ,
          515.805 , -1413.18  ,  -802.942 ,   683.254 , -2829.4   ,
        -1267.54  ,   461.025 ,   317.521 ,   404.898 ,   563.716 ,
         1232.12  ,  -117.779 ,   682.559 , -1813.95  ,   155.624 ,
        -1189.71  ,  -924.073 ,   432.15  ,   282.833 ,   298.32  ,
        -2197.36  ,   626.379 ,  -826.727 ]])

In [6]:
X_test = df_test[['max_ndvi', '20150720_N', '20150602_N', '20150517_N',
       '20150501_N', '20150415_N', '20150330_N', '20150314_N', '20150226_N',
       '20150210_N', '20150125_N', '20150109_N', '20141117_N', '20141101_N',
       '20141016_N', '20140930_N', '20140813_N', '20140626_N', '20140610_N',
       '20140525_N', '20140509_N', '20140423_N', '20140407_N', '20140322_N',
       '20140218_N', '20140202_N', '20140117_N', '20140101_N']] .values  #.astype(float)
X_test[0:5]

array([[ 2750.11   ,  1361.89   ,  -247.508  ,  -521.173  , -1123.91   ,
         2653.08   ,  -264.414  ,  -456.466  ,  2080.85   , -2041.43   ,
        -2184.35   ,  -259.612  ,   989.296  ,  2750.11   ,  1256.31   ,
          228.208  ,  1539.2    ,  2081.94   ,  2380.     ,  1078.4    ,
         1778.03   ,  2673.61   ,  -178.971  ,  2238.58   ,  1000.76   ,
          -81.5418 ,  1146.26   , -1566.49   ],
       [ 2646.25   ,  1760.85   ,   481.1    ,     6.26571,   398.95   ,
         2646.25   ,   550.982  ,    92.6923 ,  2188.03   , -1049.05   ,
         -112.508  ,   867.447  ,   904.929  ,  2488.24   ,  1339.45   ,
          293.407  ,  1554.05   ,  2178.55   ,  2009.69   ,  1083.7    ,
         2029.52   ,  1033.9    ,   -19.6148 ,  2183.66   ,   927.882  ,
          668.75   ,  1519.74   ,  -568.973  ],
       [ 3509.62   ,  3509.62   ,  -241.32   , -1239.32   ,  -330.388  ,
         1257.19   ,  -175.171  ,  -294.5    , -1315.06   ,  2486.5    ,
        -1304.71   ,   488.336  ,  1231.16   ,  3203.05   ,  1231.85   ,
          461.077  ,  1653.78   ,  2524.02   ,  1838.51   ,  1538.75   ,
          846.783  ,   965.654  ,  -468.024  ,  -222.312  ,  1124.25   ,
         1132.9    ,   594.059  ,  -993.658  ],
       [ 2820.47   ,  2138.69   ,  -126.186  ,  -522.281  ,  -741.163  ,
         2334.7    ,  -207.436  ,   -76.9686 ,  2820.47   , -1427.56   ,
        -1483.71   ,   485.017  ,   867.671  ,  2222.35   ,  1430.35   ,
          239.045  ,  1575.75   ,  2195.57   ,  2098.55   ,   984.456  ,
         2239.33   ,   593.874  ,  1540.88   ,  2398.42   ,   846.47   ,
          572.308  ,  1311.61   , -1396.5    ],
       [ 2684.13   ,  1995.8    , -1029.57   ,  1713.62   ,  -472.258  ,
         2526.99   ,   -91.7429 ,  -146.226  ,  2487.71   ,  1185.19   ,
        -1001.7    ,   631.97   ,  1198.64   ,  2617.72   ,  1303.08   ,
          211.586  ,  1504.04   ,  2560.82   ,  2684.13   ,  1432.15   ,
         2174.89   ,  1321.69   ,  1351.58   ,  2381.95   ,   870.89   ,
         1174.33   ,   991.427  ,  -185.322  ]])

In [7]:
y_train=df['class']

In [8]:
y_test = df_test['class']

In [9]:
y_train.replace({"forest":0,"farm":1,"impervious":2,"grass":3,"water":4,"orchard":5},inplace=True)

In [10]:
y_test.replace({"forest":0,"farm":1,"impervious":2,"grass":3,"water":4,"orchard":5},inplace=True)

In [11]:
y_train=df['class'].values
y_train[0:7]

array([4, 4, 4, 4, 4, 0, 4], dtype=int64)

In [12]:
y_test=df_test['class'].values
y_test[0:7]

array([4, 4, 4, 4, 4, 4, 4], dtype=int64)

In [13]:
X_test.shape

(300, 28)

In [14]:
print ('Train set:', X_train.shape,  y_train.shape)
print ('Test set:', X_test.shape,  y_test.shape)

Train set: (10545, 28) (10545,)
Test set: (300, 28) (300,)

In [15]:
from sklearn.ensemble import RandomForestClassifier

In [16]:
clf=RandomForestClassifier(n_estimators=100)

In [17]:
clf.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [18]:
y_pred=clf.predict(X_test)

In [19]:
from sklearn import metrics

In [20]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.6233333333333333